# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#pdm.lock
#   pdm stores project-wide configurations in .pdm.toml, but it is recommended to not include it
#   in version control.
#   https://pdm.fming.dev/#use-with-ide
.pdm.toml

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/
banned-ips.json
banned-players.json
bukkit.yml
bundler/libraries/asm-9.7.jar
bundler/libraries/asm-commons-9.7.jar
bundler/libraries/authlib-5.0.51.jar
bundler/libraries/brigadier-1.2.9.jar
bundler/libraries/bungeecord-chat-1.20-R0.2.jar
bundler/libraries/checker-qual-3.33.0.jar
bundler/libraries/commons-codec-1.16.0.jar
bundler/libraries/commons-io-2.13.0.jar
bundler/libraries/commons-lang-2.6.jar
bundler/libraries/commons-lang3-3.13.0.jar
bundler/libraries/datafixerupper-6.0.8.jar
bundler/libraries/error_prone_annotations-2.18.0.jar
bundler/libraries/failureaccess-1.0.1.jar
bundler/libraries/fastutil-8.5.12.jar
bundler/libraries/gson-2.10.1.jar
bundler/libraries/guava-32.1.2-jre.jar
bundler/libraries/httpclient-4.5.14.jar
bundler/libraries/httpcore-4.4.16.jar
bundler/libraries/j2objc-annotations-2.8.jar
bundler/libraries/javax.inject-1.jar
bundler/libraries/jcl-over-slf4j-1.7.36.jar
bundler/libraries/jline-2.12.1.jar
bundler/libraries/jna-5.13.0.jar
bundler/libraries/jna-platform-5.13.0.jar
bundler/libraries/joml-1.10.5.jar
bundler/libraries/jopt-simple-5.0.4.jar
bundler/libraries/json-simple-1.1.1.jar
bundler/libraries/jsr305-3.0.2.jar
bundler/libraries/listenablefuture-9999.0-empty-to-avoid-conflict-with-guava.jar
bundler/libraries/log4j-api-2.19.0.jar
bundler/libraries/log4j-core-2.19.0.jar
bundler/libraries/log4j-iostreams-2.19.0.jar
bundler/libraries/log4j-slf4j2-impl-2.19.0.jar
bundler/libraries/logging-1.1.1.jar
bundler/libraries/maven-artifact-3.9.6.jar
bundler/libraries/maven-builder-support-3.9.6.jar
bundler/libraries/maven-model-3.9.6.jar
bundler/libraries/maven-model-builder-3.9.6.jar
bundler/libraries/maven-repository-metadata-3.9.6.jar
bundler/libraries/maven-resolver-api-1.9.18.jar
bundler/libraries/maven-resolver-connector-basic-1.9.18.jar
bundler/libraries/maven-resolver-impl-1.9.18.jar
bundler/libraries/maven-resolver-named-locks-1.9.18.jar
bundler/libraries/maven-resolver-provider-3.9.6.jar
bundler/libraries/maven-resolver-spi-1.9.18.jar
bundler/libraries/maven-resolver-transport-http-1.9.18.jar
bundler/libraries/maven-resolver-util-1.9.18.jar
bundler/libraries/mysql-connector-j-8.2.0.jar
bundler/libraries/netty-buffer-4.1.97.Final.jar
bundler/libraries/netty-codec-4.1.97.Final.jar
bundler/libraries/netty-common-4.1.97.Final.jar
bundler/libraries/netty-handler-4.1.97.Final.jar
bundler/libraries/netty-resolver-4.1.97.Final.jar
bundler/libraries/netty-transport-4.1.97.Final.jar
bundler/libraries/netty-transport-classes-epoll-4.1.97.Final.jar
bundler/libraries/netty-transport-native-epoll-4.1.97.Final-linux-aarch_64.jar
bundler/libraries/netty-transport-native-epoll-4.1.97.Final-linux-x86_64.jar
bundler/libraries/netty-transport-native-unix-common-4.1.97.Final.jar
bundler/libraries/org.eclipse.sisu.inject-0.9.0.M2.jar
bundler/libraries/oshi-core-6.4.5.jar
bundler/libraries/plexus-interpolation-1.26.jar
bundler/libraries/plexus-utils-3.5.1.jar
bundler/libraries/protobuf-java-3.21.9.jar
bundler/libraries/slf4j-api-2.0.7.jar
bundler/libraries/snakeyaml-2.2.jar
bundler/libraries/spigot-api-1.20.4-R0.1-SNAPSHOT.jar
bundler/libraries/sqlite-jdbc-3.42.0.1.jar
bundler/versions/spigot-1.20.4-R0.1-SNAPSHOT.jar
commands.yml
crash-reports/crash-2024-06-08_21.58.21-server.txt
crash-reports/crash-2024-06-08_22.11.52-server.txt
eula.txt
help.yml
logs/2024-06-08-1.log.gz
logs/2024-06-08-10.log.gz
logs/2024-06-08-11.log.gz
logs/2024-06-08-2.log.gz
logs/2024-06-08-3.log.gz
logs/2024-06-08-4.log.gz
logs/2024-06-08-5.log.gz
logs/2024-06-08-6.log.gz
logs/2024-06-08-7.log.gz
logs/2024-06-08-8.log.gz
logs/2024-06-08-9.log.gz
ops.json
permissions.yml
plugins/PluginMetrics/config.yml
server.properties
spigot.yml
usercache.json
whitelist.json
world/advancements/c2ba105d-88a4-49d1-91c4-c2ec1a14adc0.json
world/data/raids.dat
world/data/random_sequences.dat
world/datapacks/bukkit/pack.mcmeta
world/entities/r.-1.-1.mca
world/entities/r.-1.0.mca
world/entities/r.0.-1.mca
world/entities/r.0.0.mca
world/level.dat
world/level.dat_old
world/playerdata/c2ba105d-88a4-49d1-91c4-c2ec1a14adc0.dat
world/playerdata/c2ba105d-88a4-49d1-91c4-c2ec1a14adc0.dat_old
world/poi/r.0.-1.mca
world/region/r.-1.-1.mca
world/region/r.-1.-2.mca
world/region/r.-1.0.mca
world/region/r.0.-1.mca
world/region/r.0.-2.mca
world/region/r.0.0.mca
world/region/r.1.-1.mca
world/region/r.1.0.mca
world/session.lock
world/stats/c2ba105d-88a4-49d1-91c4-c2ec1a14adc0.json
world/uid.dat
world_nether/DIM-1/data/raids.dat
world_nether/DIM-1/region/r.-1.-1.mca
world_nether/DIM-1/region/r.-1.0.mca
world_nether/DIM-1/region/r.0.-1.mca
world_nether/DIM-1/region/r.0.0.mca
world_nether/level.dat
world_nether/level.dat_old
world_nether/session.lock
world_nether/uid.dat
world_the_end/DIM1/data/raids_end.dat
world_the_end/DIM1/region/r.-1.-1.mca
world_the_end/DIM1/region/r.-1.0.mca
world_the_end/DIM1/region/r.0.-1.mca
world_the_end/DIM1/region/r.0.0.mca
world_the_end/level.dat
world_the_end/level.dat_old
world_the_end/session.lock
world_the_end/uid.dat
crash-reports/crash-2024-06-08_22.33.20-server.txt
logs/2024-06-08-12.log.gz
logs/2024-06-08-13.log.gz
logs/2024-06-08-14.log.gz
logs/2024-06-08-15.log.gz
logs
crash-reports
spigot.jar
